@import "tailwindcss";

body {
  background-color: theme(colors.gray.50);
}

@layer components {
  .btn {
    background-color: #12b488;
    color: theme(colors.white);
    padding: theme(spacing.3) theme(spacing.2);
    border-radius: theme(borderRadius.md);
    font-size: theme(fontSize.sm);
    
    &:hover {
      background-color: color-mix(in srgb, #12b488 90%, black);
    }
  }
  .card {
    padding: theme(spacing.3);
    border-radius: theme(borderRadius.md);
    background-color: theme(colors.white);
    box-shadow: theme(boxShadow.md);
    height: 100%;
  }
}