body{
    display: grid;
    grid-gap: 33px;
    grid-area: 
    "header header header"
    "search search search"
    "main main main"
    "footer footer footer"
    ;
}
header{
    background-color: aqua;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main{
    height: 635px;
    width: 69%;
    display: flexbox;
}
footer{
    background-color: whitesmoke;
    color: darkkhaki;
}