.header {
  display: grid;
  grid-area: header;
  font-size: 24px;
  /* text-shadow: 2px 2px; */
  border-bottom: 1px solid black;
}
.header h1 {
  text-align: left, middle;
}

.left {
  display: grid;
  width: 100%;
  background: white;
  grid-area: aside;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.left .logo {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: orangered;
  width: 100%;
  display: grid;
  grid-row: 1 / 1;
}
.left .nav1 {
  margin-top: 1rem;
  display: grid;
  grid-row: 2 / 6;
  margin-right: 0;
  padding: 0;
  padding-left: 0;
}
.left .nav1 .ul1 {
  
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.item {
  user-select: none;
  height: 35px;
  font-size: 16px;
  font-weight: bolder;
  border: 2px transparent;
  border-radius: 7px;
  /* box-shadow: 1px 1px; */
  cursor: pointer;
  padding: 8px;
  text-align: center;
  justify-content: center;
}
.item:active {
  color: orangered;
  background-color: orange;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
  border-radius: 13px;
}
.left .nav2 {
  display: grid;
  grid-row: 11 / 11;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.left .nav2 .ul2 {
  list-style-type: none;
  padding: 6px;
  margin: 0;
}
.left .User {
  text-align: center;
  display: grid;
  grid-row: 12 / 12;
}
/* Hamburger */
@media (max-width: 390px) {
  .left {
    display: none;
  }
  .header {
    font-size: 12px;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "first"
    "first"
    "second"
    "second"
    "third"
    "third";
  }
}