body {
    color: whitesmoke;
    background-color: #222;
}

p.error {
    color: red;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 15vw);
    grid-template-rows: repeat(3, 15vw);
    font-size: 250%;
    cursor: pointer;
}

.grid>div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    background-color: darkblue;
    user-select: none;
}